#set ( $table = $dalgen )
<table sqlname="${table.sqlName}" javaName="$table.javaName" physicalName="${table.physicalName}" remark="${table.remark}">

#foreach ( $column in $table.columnList )
     <column name="$column.sqlName" sqlType = "$column.sqlType" javaName="$column.javaName" javaType = "$column.javaType" remark="$column.remarks"/>
#end

     <operation name="insert" paramType="object" remark="插入表:${table.sqlName}">
         <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
         </selectKey>
          INSERT INTO ${table.sqlName}(
#foreach($column in $table.columnList)
            #if( $velocityCount != 1),#end$column.sqlName
#end
          )VALUES(
#foreach($column in $table.columnList)
            #if($velocityCount != 1),#end#{$column.javaName}
#end
          )
     </operation>

     <operation name="update" paramType="object" remark="更新表:${table.sqlName}">
        UPDATE ${table.sqlName} SET
#foreach ( $column in $table.columnList )
         #if($velocityCount != 1),#end$column.sqlName = #{$column.javaName}
#end
        WHERE id = #{id}
     </operation>

     <operation name = "deleteById" multiplicity="one" remark="根据ID删除数据:${table.sqlName}">
        DELETE FROM ${table.sqlName} WHERE
#foreach ( $column in $table.primaryKeys.columnList )
        $column.sqlName = #{${column.javaName},jdbcType=${column.sqlType}}
#end
     </operation>
     <operation name = "getById" multiplicity = "one" remark="根据主键获取数据:${table.sqlName}">
           SELECT * FROM ${table.sqlName} WHERE
#foreach ( $column in $table.primaryKeys.columnList )
           $column.sqlName = #{${column.javaName},jdbcType=${column.sqlType}}
#end
     </operation>

          <operation name = "getAll" multiplicity = "many" remark="根据主键获取数据:${table.sqlName}">
                SELECT * FROM ${table.sqlName} WHERE
     #foreach ( $column in $table.primaryKeys.columnList )
                $column.sqlName = #{${column.javaName},jdbcType=${column.sqlType}}
     #end
          </operation>


     <operation name = "getByPage" multiplicity = "paging" paging="ABC" remark="根据主键获取数据:${table.sqlName}">
           SELECT * FROM ${table.sqlName} WHERE
#foreach ( $column in $table.columnList )
           $column.sqlName = #{$column.javaName}
#end
     </operation>
</table>