#set ( $table = $dalgen )
<table sqlname="${table.sqlName}" javaName="$table.javaName" physicalName="${table.physicalName}" remark="${table.remark}">

#foreach ( $column in $table.columnList )
     <column name="$column.sqlName" sqlType = "$column.sqlType" javaName="$column.javaName" javaType = "$column.javaType" remark="$column.remarks"/>
#end

     <operation name="insert" paramType="object" remark="插入表:${table.sqlName}">
         <sql>
         <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
         </selectKey>
          INSERT INTO ${table.sqlName}(
#foreach($column in $table.columnList)
            #if( $velocityCount != 1),#end$column.sqlName
#end
          )VALUES(
#foreach($column in $table.columnList)
            #if($velocityCount != 1),#end#{$column.javaName}
#end
          )
          </sql>
     </operation>

     <operation name="update" paramType="object" remark="更新表:${table.sqlName}">
        <sql>
        UPDATE ${table.sqlName} SET
#foreach ( $column in $table.columnList )
         #if($velocityCount != 1),#end$column.sqlName = #{$column.javaName}
#end
        WHERE id = #{id}
        </sql>
     </operation>

     <operation name = "deleteById" multiplicity="one" remark="根据ID删除数据:${table.sqlName}">
        <sql>
        DELETE FROM ${table.sqlName} WHERE
#foreach ( $column in $table.primaryKeys.columnList )
        $column.sqlName = #{${column.javaName},jdbcType=${column.sqlType}}
#end
        </sql>
     </operation>
     <operation name = "getById" multiplicity = "one" remark="根据主键获取数据:${table.sqlName}">
          <sql>
            SELECT * FROM ${table.sqlName} WHERE
#foreach ( $column in $table.primaryKeys.columnList )
           $column.sqlName = #{${column.javaName},jdbcType=${column.sqlType}}
#end
           </sql>
     </operation>

      <operation name = "getAll" multiplicity = "many" remark="根据主键获取数据:${table.sqlName}">
           <extraparams>
              <param name='conditionObject' javatype="java.lang.Object"/>
           </extraparams>
            <sql>
            SELECT * FROM ${table.sqlName} WHERE 1=1
#foreach ( $column in $table.columnList )
            <if test="conditionObject.$column.javaName != null and conditionObject.$column.javaName != ''">
                AND $column.sqlName = #{conditionObject.$column.javaName}
           </if>
#end
            </sql>
       </operation>



     <operation name = "getByPageCount" multiplicity = "many" resultType="java.lang.Integer"  remark="根据主键获取数据:${table.sqlName}">
          <extraparams>
              <param name='conditionObject' javatype="java.lang.Object"/>
          </extraparams>
          <sql>
           SELECT COUNT(1) FROM ${table.sqlName} WHERE 1=1
#foreach ( $column in $table.columnList )
           <if test="conditionObject.$column.javaName != null and conditionObject.$column.javaName != ''">
               AND $column.sqlName = #{conditionObject.$column.javaName}
           </if>
#end
    </sql>
     </operation>


     <operation name = "getByPage" multiplicity = "many" remark="根据主键获取数据:${table.sqlName}">
          <extraparams>
               <param name='start' javatype="java.lang.Integer"/>
               <param name='limit' javatype="java.lang.Integer"/>
               <param name='conditionObject' javatype="java.lang.Object"/>
          </extraparams>
          <sql>
           SELECT * FROM ${table.sqlName} WHERE 1=1
#foreach ( $column in $table.columnList )
            <if test="conditionObject.$column.javaName != null and conditionObject.$column.javaName != ''">
                AND $column.sqlName = #{conditionObject.$column.javaName}
            </if>
#end
            order by id desc limit #{start},#{limit}
          </sql>
     </operation>
</table>