package $model.packageName;

#foreach ( $import in $model.importList )
import $import;
#end

/**
 * The table ${model.desc}
 */
public class ${model.className}{

#foreach ( $fields in $model.fieldses )

    /** ${fields.desc}.*/
    private ${fields.javaType} ${fields.name};
#end

#foreach ( $fields in $model.fieldses )
     /**
      * Set ${fields.name} ${fields.desc}.
      */
     public void set${fields.name}(${fields.javaType} ${fields.name}){
            this.${fields.name} = ${fields.name};
     }
     /**
      * Get ${fields.name} ${fields.desc}.
      *
      * @return the string
      */
     public ${fields.javaType} get${fields.name}(){
         return ${fields.name};
     }
#end

}