#parse("./lib.vm")
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper>

     <resultMap id="BaseResultMap">
         #foreach ( $column in $xmlMapper.cfTable.columns )
            #if($column.name=="id")
                <id column="$column.name" property="$column.javaName" jdbcType="$column.sqlType" javaType="$column.javaType"/>
            #else
                <result column="${column.name}" property="${column.javaName}" jdbcType="${column.sqlType}" javaType="${column.javaType}"/>
            #end
         #end
     </resultMap>

     <#-- baseSql -->
      <sql id="Base_Column_List">#foreach ( $column in $xmlMapper.cfTable.columns )${column.name}#if($xmlMapper.cfTable.columns.size() != $velocityCount),#end#end</sql>

 #foreach ( $operation in $xmlMapper.cfTable.operations )
 #if($operation.multiplicity.code=="paging")

    <#operation2Sql($operation.name) id="#operation2Sql($operation.name)Count" #mapperResult($operation)>
             ${operation.cdataPageCount}
    </#operation2Sql($operation.name)>
    <#operation2Sql($operation.name) id="#operation2Sql($operation.name)Result" #mapperResult($operation)>
          ${operation.cdata}
          limit #{start},#{limit}
    </#operation2Sql($operation.name)>
 #else
    <#operation2Sql($operation.name) id="#operation2Sql($operation.name)" #mapperResult($operation)>
         ${operation.cdata}
    </#operation2Sql($operation.name)>
 #end
 #end
</mapper>